{% extends "auth/base.html" %} {% block title %}Login Page{% endblock %} {%
block content %}
<!-- section login start -->
<div class="container bg-light mt-5 p-3 w-50 rounded">
  <h2 class="text-center my-3">Login Page</h2>

  <!-- toast danger start -->
  <div class="toast align-items-center text-bg-danger w-100 mb-2" role="alert" aria-live="assertive" aria-atomic="true" id="toastLiveDanger">
    <div class="d-flex">
      <div class="toast-body" id="toastBodyDanger">
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
  <!-- toast danger end -->

  <form id="loginForm">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter password"
      />
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit">Login</button>
      <p class="text-center">Don't have a account? <a href="/register">Sign up</a></p>
    </div>
  </form>
</div>
<!-- section login end -->
{% endblock %} {% block script %}
<script src="{{url_for('static',filename='js/script-login.js')}}"></script>
{% endblock %}
